@model OrderAutomation.Models.ProductReceipt

@{
    ViewData["Title"] = "Детали поступления товара";
}

<h1>Детали поступления товара</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ReceiptDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Вернуться к списку</a>
</div> 