@model OrderAutomation.Models.Supplier

@{
    ViewData["Title"] = "Удаление поставщика";
}

<h1>Удаление поставщика</h1>

<h3>Вы уверены, что хотите удалить этого поставщика?</h3>

<div asp-validation-summary="All" class="text-danger"></div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    @if (Model.ProductReceipts != null && Model.ProductReceipts.Any())
    {
        <div class="alert alert-warning mt-3">
            <h5>Внимание!</h5>
            <p>Этот поставщик связан с @Model.ProductReceipts.Count поступлениями товаров. При удалении поставщика информация о нем будет удалена из всех связанных поступлений товаров.</p>
        </div>
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Вернуться к списку</a>
    </form>
</div> 